* {
    box-sizing: border-box;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    background-color: rgb(159, 231, 255);
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 1em 2em 1em 1em;
}

.nav-list li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-weight: bold;
}

.nav-list li a:hover,
.nav-list li a.active {
    color: black;
}
