.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.product_item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    border: 2px solid rgb(147, 252, 170);
    border-radius: 10px;
    padding: 2em;
}

.product_item_header h1 {
    font-size: 1.2rem;
    text-align: center;
}

.product_item_info h2 {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product_item_info p {
    text-align: center;
}

.product_item_actions {
    margin-top: 2em;
}


.product_item_actions div {
    text-align: center;
    height: 100%;
}

.product_item_image img {
    width: -webkit-fill-available;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

.stock-status label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.checkmark {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
}

.checkmark:before {
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + .checkmark:before {
    display: block;
}

button.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: #0056b3;
}

main h1, main a {
    justify-content: center;
}