<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <p class="pp">Hi, its the main page!</p>

    <p class="pp">Slide</p>

    <p class="pp">Latest news</p>

    <p class="pp">Featured products</p>

    <p class="pp">Popular services</p>
</body>
</html>