<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/services.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <div class="services">
        <h1>Our services</h1>
        <% if (isAuthenticated) { %>
            <a href="/add-service">Add service</a>
        <% } %>
        <ul class="list_outer">
            <li>
                <ul class="list_inner">
                    <li>
                        Service 1
                    </li>
                    <li>
                        time
                    </li>
                    <li>
                        price
                    </li>
                </ul>
            </li>
            <li>
                <ul class="list_inner">
                    <li>
                        Service 2
                    </li>
                    <li>
                        time
                    </li>
                    <li>
                        price
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>